.root {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	left: 0;
	min-width: min(30rem, 100%);
	position: absolute;
	z-index: 20;
}

.option {
	align-items: center;
	display: grid;
	gap: 0.12rem 0.8rem;
	grid-template-columns: auto auto;
	padding: 0.65rem 0.8rem;
	text-align: left;
}

.alias {
	justify-self: end;
}

.description {
	grid-column: 1 / -1;
}
